In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder

## data tabular(tabel)

In [3]:
#data tabel(tabular)
data_raw = pd.read_csv('dataset/titanic.csv')
data_raw.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [6]:
len(data_raw.columns)

12

In [8]:
data_raw.shape

(418, 12)

In [9]:
data_raw['PassengerId'].unique()

array([ 892,  893,  894,  895,  896,  897,  898,  899,  900,  901,  902,
        903,  904,  905,  906,  907,  908,  909,  910,  911,  912,  913,
        914,  915,  916,  917,  918,  919,  920,  921,  922,  923,  924,
        925,  926,  927,  928,  929,  930,  931,  932,  933,  934,  935,
        936,  937,  938,  939,  940,  941,  942,  943,  944,  945,  946,
        947,  948,  949,  950,  951,  952,  953,  954,  955,  956,  957,
        958,  959,  960,  961,  962,  963,  964,  965,  966,  967,  968,
        969,  970,  971,  972,  973,  974,  975,  976,  977,  978,  979,
        980,  981,  982,  983,  984,  985,  986,  987,  988,  989,  990,
        991,  992,  993,  994,  995,  996,  997,  998,  999, 1000, 1001,
       1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012,
       1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023,
       1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034,
       1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045,
       1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056,
       1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067,
       1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078,
       1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089,
       1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100,
       1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111,
       1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122,
       1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133,
       1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144,
       1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155,
       1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166,
       1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1177,
       1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1188,
       1189, 1190, 1191, 1192, 1193, 1194, 1195, 1196, 1197, 1198, 1199,
       1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210,
       1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221,
       1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232,
       1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243,
       1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253, 1254,
       1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265,
       1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276,
       1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1286, 1287,
       1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1298,
       1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309],
      dtype=int64)

In [10]:
len(data_raw['PassengerId'].unique())

418

In [14]:
column_y = ['Survived']
column_x = ['Pclass','Sex', 'Age', 'Embarked', 'SibSp', 'Fare', 'Parch' ]

In [19]:
#endcoder(mengubah object menjadi int)
#bikin alat
encoder = OrdinalEncoder()

x_train['Sex']= encoder.fit_transform(x_train[['Sex']])
x_test['Sex']= encoder.fit_transform(x_test[['Sex']])


x_train['Embarked']= encoder.fit_transform(x_train[['Embarked']])
x_test['Embarked']= encoder.fit_transform(x_test[['Embarked']])

In [15]:
#membagi dataset
x_train, x_test, y_train, y_test = train_test_split(
    data_raw[column_x], data_raw[column_y],
    test_size=.2
)
x_train.shape

(334, 7)

In [16]:
#MODELING
model = tf.keras.Sequential([
    tf.keras.layers.Dense(16, activation='relu', input_shape=[7]),
    tf.keras.layers.Dense(32, activation='relu'),
    #kelasnya ada 2 jadi pakai sigmoid
    tf.keras.layers.Dense(1, activation='sigmoid')
])

In [17]:
#konfigurasi
model.compile(
    optimizer='adam',
    loss='binary_crossentropy',
    metrics=['accuracy']
)

In [20]:
model.fit(
    x_train, y_train,
    epochs=15
)

Epoch 1/15
11/11 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.6138
Epoch 2/15
11/11 [==============================] - 0s 798us/step - loss: nan - accuracy: 0.6198
Epoch 3/15
11/11 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.6198
Epoch 4/15
11/11 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.6198
Epoch 5/15
11/11 [==============================] - 0s 898us/step - loss: nan - accuracy: 0.6198
Epoch 6/15
11/11 [==============================] - 0s 998us/step - loss: nan - accuracy: 0.6198
Epoch 7/15
11/11 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.6198
Epoch 8/15
11/11 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.6198
Epoch 9/15
11/11 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.6198
Epoch 10/15
11/11 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.6198
Epoch 11/15
11/11 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.6198
Epoch 12/15
11/11 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.6198
Epoch 13/15
11/11 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.6198
Epoch 14/15
11/11 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.6198
Epoch 15/15
11/11 [==============================] - 0s 1ms/step - loss: nan - accuracy: 0.6198

## data text

In [23]:
#data text
import urllib
import json
data_url = 'https://github.com/dicodingacademy/assets/raw/main/Simulation/machine_learning/sarcasm.json'
urllib.request.urlretrieve(data_url, 'sarcasm.json')
with open("sarcasm.json", 'r') as file: dataset = json.load(file)

In [26]:
df_sarcasm = pd.DataFrame(dataset)

In [27]:
df_sarcasm.head(5)

,article_link,headline,is_sarcastic
0,https://www.huffingtonpost.com/entry/versace-b...,former versace store clerk sues over secret 'b...,0
1,https://www.huffingtonpost.com/entry/roseanne-...,the 'roseanne' revival catches up to our thorn...,0
2,https://local.theonion.com/mom-starting-to-fea...,mom starting to fear son's web series closest ...,1
3,https://politics.theonion.com/boehner-just-wan...,"boehner just wants wife to listen, not come up...",1
4,https://www.huffingtonpost.com/entry/jk-rowlin...,j.k. rowling wishes snape happy birthday in th...,0

In [31]:
#iloc cara mengambil data dari dataframe
data_used = df_sarcasm.iloc[:,-2:]

In [32]:
data_used.head(5)

                                            headline  is_sarcastic
0  former versace store clerk sues over secret 'b...             0
1  the 'roseanne' revival catches up to our thorn...             0
2  mom starting to fear son's web series closest ...             1
3  boehner just wants wife to listen, not come up...             1
4  j.k. rowling wishes snape happy birthday in th...             0

In [33]:
data_used['headline'][0]

"former versace store clerk sues over secret 'black code' for minority shoppers"